# Configuración de NuPredictor
NU_PREDICTOR_DATA_DIR=estados-de-cuenta
NU_PREDICTOR_DB=data/processed/nupredictor.db

# API Keys (Opcional - Futuras funcionalidades de IA)
OPENAI_API_KEY=
GEMINI_API_KEY=
